$v-font-size: 14px;

@import "../valo/valo";

@mixin fenix {
  @include valo;

  .header-layout {
    @extend .valo-menu-title;
//    background-color: orangered;
//    color: whitesmoke;
  }

  .header-application-title {
    font-size: 32px;
    font-weight: 700;
    margin-left: 10px;
    margin-right: 10px;
  }

  .header-menu-bar {
    margin-right: 10px;
  }

  .header-fire-department-name {
    font-size: 20px;
  }

  .view-title {
    //border-bottom: 1px solid orangered;
    font-size: 2.2em;
    padding-left: 10px;
    padding-top: 10px;
  }

  .view-content {
    margin: 10px;
    box-shadow: -1px -1px 10px lightgray;
  }
}