.fx-side-bar {
    background: linear-gradient(#3c3f41 2%, #2c2c2c 98%);
    overflow: auto;
}

.fx-side-bar-section {
    border-top: 1px solid #666666;
}

.fx-side-bar-section-content a {
    display: block;
    font-size: 12px;
    font-weight: 300;
    padding: 3px 0 3px 0;
    margin: 0 0 0 20px;
}

.fx-side-bar-section h3 {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    padding: 3px 0 3px 10px;
}

.fx-side-bar-section h3.open {
    background-color: #000000;
}

.fx-side-bar-section h3 a, .fx-side-bar-section-content a {
    color: #ffffff;
    text-decoration: none;
    opacity: 0.6;
}

.fx-side-bar-section h3 a:hover, .fx-side-bar-section-content a:hover, .fx-side-bar-section h3.open a {
    opacity: 1.0;
}
