@import url(../reindeer/styles.css);

.v-app {
	background: #ececec;
}

.v-label-h2 {
	color: #a00;
}

.v-button-highlighted .v-button-caption {
		
}

/*** HEADER ***/

.v-customcomponent-header {
	/*background: -moz-linear-gradient(top, #999, #404749);*/
    background: -webkit-gradient(linear, left top, left bottom, from(#a00), to(#400));
}
.v-customcomponent-header .v-label-app-title {
	font-weight: bold;
	font-size: 25px;
	color: #fff;
	text-shadow: 0 1px 1px #b00;
	padding-left: 20px;
}
.v-customcomponent-header .v-label-current-user {
	font-weight: bold;
	color: #fff;
	font-size: 14px;
	margin-right: 10px;	
	margin-left: 10px;
}
.v-customcomponent-header .v-horizontallayout-button-layout {
	border-right: solid 1px #a00;
	border-left: solid 1px #400;
	margin-right: 10px;
}
.v-horizontallayout-button-layout .v-button,
.v-horizontallayout-button-layout .v-button:focus,
.v-horizontallayout-button-layout .v-button:active,
.v-horizontallayout-button-layout .v-button.v-pressed {
	border-left: solid 1px #a00;
	border-right: solid 1px #400;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 14px;
}
.v-horizontallayout-button-layout .v-button-link .v-button-caption {
	color: #fff;	
	font-size: 14px;
	text-decoration: none;
}
.v-horizontallayout-button-layout .v-button-link .v-button-caption:hover {
	text-decoration: underline;
	color: #eee;
}

/*** MAIN WINDOW TABS ***/

.v-tabsheet-tabs-main {
	height: 32px;
	margin-top: 5px;
	width: 100%;
	overflow: hidden;
	background: transparent;
	border-spacing: 0;
}
.v-tabsheet-tabs-main .v-tabsheet-spacertd div {
	height: 31px;
	border: none;
	border-bottom: 1px solid #bfbfbf;
	background: transparent;
}
.v-tabsheet-tabs-main .v-tabsheet-tabitemcell {
	background: transparent;
	margin: 0;
	padding: 0;
}
.v-tabsheet-tabs-main .v-tabsheet-tabitem {
	border: none;
	border-bottom: 1px solid #bfbfbf;
	border-top: 1px solid #bfbfbf;
	border-right: 1px solid #bfbfbf;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	height: 30px;
	padding: 0;
	margin-top: 0;
	color: #444;
	font-size: 12px;
	line-height: normal;
	background: #ddd;
	cursor: pointer;
	text-shadow: #fff 0 1px 0;
}
.v-tabsheet-tabs-main .v-tabsheet-tabitem .v-caption {
	height: 24px;
	padding: 8px 10px 0 11px;
	background: transparent;
}
.v-tabsheet-tabs-main .v-tabsheet-tabitem-selected {
	border-bottom: none;
	background: #fff;
	margin: 0;
	padding: 0;
	height: 32px;
	cursor: default;
	color: #222;
	text-shadow: none;
}
.v-tabsheet-tabs-main .v-tabsheet-tabitem:hover {
	color: #666;
}
.v-tabsheet-tabs-main .v-tabsheet-tabitem-selected:hover {
	color: #222;
}
.v-tabsheet-tabs-main .v-tabsheet-tabitem-selected .v-caption {
	background: transparent;
	margin: 0;
	height: 23px;
	padding: 9px 10px 0 11px;
	overflow: visible;
}
.v-tabsheet-content-main {
	border: none;
}
.v-tabsheet-content-main .v-tabsheet-tabsheetpanel {
	background: #fff;
}
.v-tabsheet-deco-main {
	height: 0;
	border: none;
}
.v-tabsheet-tabcontainer-main .v-tabsheet-scroller {
	background: transparent;
	border: none;
}
