<h1>Kontakter</h1>
<table width="100%" class="listing">
    <tr>
        <th rowspan="2">Namn</th>
        <th colspan="2">Kan kontaktas via</th>
        <th rowspan="2">Mobil</th>
        <th rowspan="2">E-post</th>
        <th></th>
    </tr>
    <tr>
        <th>SMS</th>
        <th>E-post</th>
    </tr>
    <tr>
        <td>Petter Holmström</td>
        <td><i class="fa fa-check-circle"></i></td>
        <td><i class="fa fa-check-circle"></i></td>
        <td>+358-408-395-765</td>
        <td><a href="mailto:peholmst@abo.fi">peholmst@abo.fi</a></td>
        <td>
            <a href="#"><i class="fa fa-pencil"></i></a>
            <a href="#"><i class="fa fa-times"></i></a>
        </td>
    </tr>
</table>